@import "tailwindcss";

@theme {
  --color-rust-500: #8B4000;
  --color-rust-600: #5C1E22;
  --color-gold-500: #C49E48;
  --color-charcoal: #2D2D2D;
  --color-parchment-50: #F8F1E7;
  --color-antique #F8F1E7;
}
